@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 300px) {
    .map-container {
        height: 500px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 768px) {
    .map-container {
        height: 600px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 1024px) {
    .map-container {
        height: 700px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 1280px) {
    .map-container {
        height: 800px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}


