@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Regular.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Italic.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Thin-BETA.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ThinItalic-BETA.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraLight-BETA.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraLightItalic-BETA.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Light-BETA.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-LightItalic-BETA.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Medium.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-MediumItalic.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-SemiBold.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-SemiBoldItalic.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Bold.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-BoldItalic.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraBold.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-ExtraBoldItalic.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-Black.woff) format('woff');
    font-display: swap;

}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    src: local('Inter'), url(https://fonts.cdnfonts.com/s/19795/Inter-BlackItalic.woff) format('woff');
    font-display: swap;

}

@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    background-color: #fafcfe;
}
.map-container {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 300px) {
    .map-container {
        height: 500px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 768px) {
    .map-container {
        height: 600px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}

.image-gallery-svg {
    height: 50px !important;

}

.image-gallery-left-nav {
    padding: 5px 0px !important;
    width: 30px !important;
}

.image-gallery-right-nav {
    padding: 5px 0px !important;
}

.image-gallery-fullscreen-button {
    padding: 5px 10px !important;
}

.image-gallery-play-button {
    padding: 5px 10px !important;
}

.MuiContainer-root {
    max-width: 1800px !important;
    margin: 0px auto !important;
}



.HeadingLarge {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 48px;
    color: #0A243E
}
.HeadingSmall {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #0A243E
}
@media (max-width: 900px) {

    .HeadingSmall {
        /*HeadingXsmall*/
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #0A243E
    }

}

@media (max-width: 900px) {

    .HeadingLarge {
        /*HeadingMedium*/
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 2rem;
        line-height: 41.8px;
        color: #0A243E
    }
}

@media (max-width: 400px) {

    .HeadingLarge {
        /*HeadingMedium*/
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 41.8px;
        color: #0A243E
    }
}

.HeadingXLarge {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    color: #0A243E
}

@media (max-width: 600px) {
    .HeadingXLarge {
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: #0A243E
    }
}

.HeadingMedium {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    color: #0A243E
}

@media (max-width: 600px) {

    .HeadingMedium {
        /* HeadingSmall */
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #0A243E
    }
}

.HeadingXxlarge {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 67.2px;
    color: #0A243E
}

@media (max-width: 700px) {
    .HeadingXxlarge {
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 48px;
        color: #0A243E
    }
}

@media (max-width: 400px) {
    .HeadingXxlarge {
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 2rem;
        line-height: 38px;
        color: #0A243E
    }
}


.HeadingXsmall {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #0A243E
}

@media (max-width: 900px) {
    .HeadingXsmall {
        font-family: 'Recoleta';
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #0A243E
    }
}

.HeadingXXsmall {
    font-family: 'Recoleta';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0A243E
}

.TextMediumNormal {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 25.5px;
    color: #485E75
}

@media (max-width: 900px) {

    .TextMediumNormal {
        /*TextRegularNormal*/
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #485E75
    }
}

@media (max-width: 400px) {

    .TextMediumNormal {
        /*TextRegularNormal*/
        font-family: 'Inter';
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 18px;
        color: #485E75
    }
}

.TextMediumMedium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    line-height: 25.5px;
    color: #485E75
}

@media (max-width: 400px) {

    .TextMediumMedium {
        /*TextRegularNormal*/
        font-family: 'Inter';
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 18px;
        color: #485E75
    }
}

.TextMediumSemibold {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: #485E75
}

.TextLargeMedium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 19px;
    line-height: 28.5px;
    color: #485E75
}

@media (max-width: 900px) {
    .TextLargeMedium {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 17px;
        line-height: 25.5px;
        color: #485E75
    }
}

.TextRegularNormal {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.93rem;
    line-height: 22.5px;
    color: #485E75
}

@media (max-width: 400px) {
    .TextRegularNormal {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 0.80rem;
        line-height: 18px;
        color: #485E75
    }
}

.TextRegularMedium{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.93rem;
    line-height: 22.5px;
    color: #485E75
}

.TextSmallNormal {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.81rem;
    line-height: 19.5px;
    color: #485E75
}

.TextSmallSemibold {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.81rem;
    line-height: 19.5px;
    color: #485E75
}

@media (max-width: 600px) {
    .TextSmallNormal {
        /*TextTinyNormal */
        font-family: 'Inter';
        font-weight: 400;
        font-size: 0.75rem;
        color: #485E75
    }
}

.TextSmallMedium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.81rem;
    line-height: 19.5px;
    color: #485E75
}

.TextSmallLight {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 0.81rem;
    line-height: 19.5px;
    color: #485E75
}

.TextTinyNormal {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.71rem;
    color: #485E75
}

.TextTinyLight {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 0.71rem;
    color: #485E75
}

.TextTinyMedium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.81rem;
    color: #485E75
}

.TextTinySemibold {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.71rem;
    color: #485E75
}

.TextRegularLight {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 0.93rem;
    line-height: 22.5px;
    color: #485E75
}

.TextRegularSemibold {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.93rem;
    line-height: 22.5px;
    color: #485E75
}

MuiMenuItem-root{
    padding: 0px 16px !important;
}




